.main{
    display: flex;
    column-gap: 10%;
    margin-top: 15em;
}


.block1{
    width: 17%;
    /* border: 1px solid black; */
    margin-left: 10em;
}
.h1{
    font-weight: 600;
    margin-bottom: 1.5em;
    font-size: 18px;
}

.block1>p{
    font-size: 8px;
    margin-top: 1.5em;
}
.block1 button{
    background-color: black;
    color: white;
    width: 100%;
    height: 3em;
    font-size: 12px;
    margin-top: +10px;
}
.block1 input{
    width: 100%;
    border: 0em;
    outline: none;
    font-size: 10px;
    border-bottom: 0.5px solid grey;
    margin: 0;
    margin-bottom: 1em;
}


.block2{
    width: 26%;
    /* border: 1px solid black; */
    margin-left: 6em;
}

.h2{
    font-weight: 550;
    font-size: 18px;
}
.block2 h4{
    font-size: 11px;
    margin-top: -10px;
}
.block2 button{
    background-color: black;
    color: white;
    width: 60%;
    height: 3em;
    font-size: 12px;
    margin-top: +13px;
}
.bottom{
    display:flex;
    column-gap: 2em;
    margin-left: 10em;
    margin-top: 18em;
}
.bottom>div>h3{
    font-weight: 500;
    font-size: 13px;
    margin-bottom: 1em;
}
.bottom>div>p{
    color: rgb(118, 117, 117);
    font-size: 10px;
    margin-bottom: 4px;
}

.line{
    display: flex;
    justify-content: space-around;
    margin-left: -19.4em;
    margin-top: 6em;
    font-size: 11px;
    color: gray;
}
.bot2{
    font-size: 9px;
    margin-left: 17.5em;
    margin-top: 8em;
    margin-bottom: 10em;
    color: gray;
}