
.container{
width:100%;
gap: 4rem;
grid-template-columns:repeat(4,1fr);
height: 100%;
display: grid;
padding: 1rem;



}
.smallcontainer{
    width:60%;
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    cursor: pointer;
}
.childs img{
    width:100%;
    
}
.price{
    display: flex;
 justify-content:space-between;
}
.filtercolor{
    display: flex;
    justify-content: space-between;
    width:15%;
}
.filtercolordiff{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    width:15%;
    gap: 1rem;
}

.color {
    border: 1px solid #ccc;
    padding: 0.2rem 0.8rem;
    text-transform: uppercase;
}