.search{
    border-bottom: 2px solid black;
    width: 100%;
    font-family:  Helvetica, Arial, "sans-serif";
    height: 2rem;
    margin-left: 12.9rem;
    
    font-size: 18px;
}

.search::placeholder{
    color: black;
    
    
}

.search_parent{
    
    width: 85%;
    
    
}
.container{
    
   
    margin-top: 3rem;
   
    
}

.container1{
    width: 60%;
    margin-left: 13rem;
    
}

.container1 h1{
    font-size: 12px;
    font-weight: bold;
    padding: .5rem 0;
    
}

.container1 p{
    font-size: 12px;
    padding: .5rem 0;
    
    

}

.container2{
    
   
    width: 92rem;
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 1.5rem;
    
    margin-left: 2rem;
    
    
   
    
    
}

.products img{
    width: 14rem;
}

.products p{
    font-size: 11px;
}

.section{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.section p{
    font-size: 12px;
}

@media screen and (max-width:1000px) {
    .container2{
        grid-template-columns: repeat(3,1fr);
        
    }
    .products img{
        width: 30rem;
    }
    .products p{
        font-size: 20px;
    }

    
}

@media screen and (max-width:600px) {
    .container2{
        grid-template-columns: repeat(1,1fr);
        
    }
    .products img{
        width: 90rem;
    }
    .products p{
        font-size: 40px;
    }
    .title{
        width:40rem ;
        
    }
  
}