.search{
    border-bottom: 2px solid black;
    width: 100%;
    font-family:  Helvetica, Arial, "sans-serif";
    height: 2rem;
    
    font-size: 18px;
}

.search::placeholder{
    color: black;
    
    
}

.search_parent{
    
    width: 85%;
    margin-left: 13rem;
    
}
.container{
    
   
    margin-top: 3rem;
    
}

.container1{
    width: 60%;
}

.container1 h1{
    font-size: 12px;
    font-weight: bold;
    padding: .5rem 0;
}

.container1 p{
    font-size: 12px;
    padding: .5rem 0;
    
    

}

.container2{
    border: 1px solid;
    height: 500rem;
    width: 300rem;
}